@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,700,900&amp;subset=chinese-traditional,cyrillic,latin-ext,vietnamese&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  outline: none;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  font-size: 18px !important;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans TC", "Liberation Sans", "微軟正黑體", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: black;
  line-height: 1.5 !important;
  letter-spacing: 0.5px;
}

a {
  transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

.bg-light {
  background-color: #f5f5f4 !important;
}

.jw-custom .container {
  width: 100%;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.jw-custom .dropdown .dropdown-toggle {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.jw-custom .dropdown .dropdown-toggle::after {
  border: 0;
  width: 1rem;
  height: 1rem;
  color: inherit;
  background-color: currentColor;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 1rem;
          mask-size: 1rem;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"> <path fill="currentColor" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
          mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"> <path fill="currentColor" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.jw-custom .dropdown .dropdown-menu {
  display: block;
  max-height: 1px;
  padding: 0;
  background-color: white;
  border: 1px solid #e7e5e4;
  border-radius: 0;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
  color: #78716c;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.jw-custom .dropdown .dropdown-menu.show {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}
.jw-custom .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
}
.jw-custom .navbar {
  min-height: 5rem;
  padding: 0;
}
.jw-custom .navbar .container {
  flex-wrap: nowrap;
}
.jw-custom .navbar .navbar-brand {
  display: flex;
  align-items: center;
  max-width: 150px;
  padding: 0;
  line-height: 0;
}
.jw-custom .navbar .nav-toggler {
  position: relative;
  display: none;
  padding: 0.75rem;
  margin-left: auto;
  z-index: 1035;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .nav-toggler {
    display: flex;
  }
}
.jw-custom .navbar .nav-toggler .nav-icon3 {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.jw-custom .navbar .nav-toggler .nav-icon3 span {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  border-radius: 0.5rem;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.jw-custom .navbar .nav-toggler .nav-icon3 span:nth-child(1) {
  top: 2px;
}
.jw-custom .navbar .nav-toggler .nav-icon3 span:nth-child(2), .jw-custom .navbar .nav-toggler .nav-icon3 span:nth-child(3) {
  top: calc(50% - 1px);
}
.jw-custom .navbar .nav-toggler .nav-icon3 span:nth-child(4) {
  bottom: 2px;
}
.jw-custom .navbar .navbar-collapse {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1030;
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .navbar-collapse {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 6rem;
    opacity: 0;
    visibility: hidden;
  }
}
.jw-custom .navbar .navbar-nav {
  flex-direction: row;
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .navbar-nav {
    width: 100%;
    flex-direction: column;
  }
}
.jw-custom .navbar .navbar-nav.main-nav {
  margin: 0 auto;
}
.jw-custom .navbar .navbar-nav.language-nav {
  margin-left: auto;
}
.jw-custom .navbar .nav-link {
  padding: 0.5rem 1rem;
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .nav-link {
    padding: 1rem 1.75rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .dropdown .dropdown-toggle {
    display: flex;
  }
  .jw-custom .navbar .dropdown .dropdown-toggle::after {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask-size: 1.5rem;
            mask-size: 1.5rem;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .dropdown.show .dropdown-toggle::after {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }
}
.jw-custom .navbar .dropdown .dropdown-menu {
  position: absolute;
  min-width: 7rem;
  text-align: center;
}
@media (max-width: 991.98px) {
  .jw-custom .navbar .dropdown .dropdown-menu {
    position: static;
    font-size: 1.5rem;
    text-align: left;
    border: none;
    box-shadow: none;
  }
  .jw-custom .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.5rem 3.25rem;
  }
}
.jw-custom .navbar .dropdown .dropdown-menu.show {
  top: 100%;
}
.jw-custom .navbar-light .nav-toggler .nav-icon3 span {
  background-color: #57534e;
}
.jw-custom .navbar-light .nav-toggler:hover .nav-icon3 span, .jw-custom .navbar-light .nav-toggler:focus .nav-icon3 span {
  background-color: #ea5504;
}
.jw-custom .navbar-light .nav-link,
.jw-custom .navbar-light .dropdown-item {
  color: #57534e;
}
.jw-custom .navbar-light .nav-link:hover,
.jw-custom .navbar-light .dropdown-item:hover {
  color: #ea5504;
}
.jw-custom .navbar-light .show > .nav-link,
.jw-custom .navbar-light .active > .nav-link,
.jw-custom .navbar-light .nav-link.show,
.jw-custom .navbar-light .nav-link.active {
  color: #ea5504;
}
.jw-custom .navbar-light .navbar-text {
  color: #57534e;
}
.jw-custom .navbar-light .navbar-text a {
  color: #57534e;
}
.jw-custom .navbar-light .navbar-text a:hover, .jw-custom .navbar-light .navbar-text a:focus {
  color: #ea5504;
}
.jw-custom .navbar-light .dropdown-menu {
  background-color: #f5f5f4;
}
.jw-custom .nav-open .nav-toggler .nav-icon3 span {
  background-color: #ea5504 !important;
}
.jw-custom .nav-open .nav-toggler .nav-icon3 span:nth-child(1) {
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}
.jw-custom .nav-open .nav-toggler .nav-icon3 span:nth-child(2) {
  transform: rotate(45deg);
}
.jw-custom .nav-open .nav-toggler .nav-icon3 span:nth-child(3) {
  transform: rotate(-45deg);
}
.jw-custom .nav-open .nav-toggler .nav-icon3 span:nth-child(4) {
  bottom: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}
.jw-custom .nav-open .navbar-collapse {
  overflow-y: auto;
  visibility: visible;
  justify-content: start;
  background-color: white;
  opacity: 1;
}/*# sourceMappingURL=jw-custom.css.map */